<!-- Container (About Section) -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <h2>Monumento a los niños héroes</h2>
            <a class="btn btn-info btn-lg" href="/informa/inf">Volver</a>
    </div>
    <div class="col-sm-4">
      <img src="<%=asset_path'jj.jpg'%>" >
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <img src="<%=asset_path'j9.jpg'%>" >
    </div>
    <center>
    <div class="col-sm-8">
      <h2>Monumento a los niños héroes</h2><br>
      <h4><strong>Historia</strong><br>
        <br>

El Monumento a los Héroes de la Independencia fue erigido en 1960 durante el mandato de Adolfo López Mateos, para conmemorar el 150 aniversario del inicio del movimiento de Independencia. Es un conjunto de esculturas de 25 metros de altura labrado en cantera rosa y ostenta las colosales figuras de Hidalgo, Morelos, Allende y Aldama. 
<br>
El escultor Jorge González Camarena y el arquitecto Carlos Obregón Santacilia son los artífices de este monumento.



       
<br><br>

</h4>      
      
    </div>
  </div>
</div>
</center>